# ignore all yaml files that lack of reference, simulation and optimization tests
**/*_noref*.yaml
**/*_nosim*.yaml
**/*_noopt*.yaml
**/*_HOLD.yaml

# ignore output folder and the results of the tests
output/
**/*_HOLD/
